body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1{
    color: #002A5E;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px; 
}

.image-grid img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
