<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/contactanos.css">
    <title>Document</title>
</head>
<body>
    <section class="contact">
        <h1>
            Contactanos
        </h1>
    </section>
    
    <section class="info-section">
        <!-- Horarios -->
        <div class="info-horarios">
            <h3>Horarios</h3>
            <p>Lunes - viernes 8:00-20:00</p>
            <p>Sábado 9:00 - 16:00</p>
        </div>

        <!-- Ubicación -->
        <div class="info-ubicacion">
            <h3>Ubicados</h3>
            <p>Blvd Tecnologico #150, ex ejido chapultepec CP. 22780, Ensenada, Baja California</p>
        </div>

        <!-- Redes Sociales -->
        <div class="info-redes">
            <h3>Síguenos</h3>
            <p><i class="fab fa-facebook"></i> Facebook</p>
            <p><i class="fab fa-instagram"></i> Instagram</p>
            <p><i class="fas fa-envelope"></i> Email</p>
        </div>

        <!-- Preguntas -->
         <div class="info-preguntas">
            <div class="form-column">
                <h3>Tienes Preguntas?</h3>
                <input type="text" id="nombre" placeholder="Nombre">
                <input type="email" id="Email" placeholder="Email">
                <textarea id="comentario" placeholder="Comentario" rows="5" ></textarea>
                <button id="button_send">Enviar</button>
            </div>
        </div>
    </section>
        
    
    
</body>
</html>