<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Cafeteria</title>
</head>
<body>

    
    <nav>
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/ite.jpeg" alt="Logo">
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/contactanos.html">Nosotros</a>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ordenar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>
