<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/dia.css">
    <title>Document</title>
</head>
<body>
    <h1> Promociones del dia</h1>
    <div>
        <p> !Aprovecha nuestras ofertas especiales!</p>
    </div>
    <section class="image-grid">
        <figure>
            <img src="/assets/lunes.png" alt="Imagen 1">
            <figcaption>Lunes</figcaption>
        </figure>
        <figure>
            <img src="/assets/Martes.png" alt="Imagen 2">
            <figcaption>Martes</figcaption>
        </figure>
        <figure>
            <img src="/assets/miercoles.png" alt="Imagen 3">
            <figcaption>Miercoles</figcaption>
        </figure>
        <figure>
            <img src="/assets/jueves.png" alt="Imagen 4">
            <figcaption>Jueves</figcaption>
        </figure>
        <figure>
            <img src="/assets/viernes.png" alt="Imagen 5">
            <figcaption>Viernes</figcaption>
        </figure>
        <figure>
            <img src="/assets/sabado.png" alt="Imagen 6">
            <figcaption>Sabado</figcaption>
        </figure>
    </section>
</body>
</html>